html,body{
	height:100%;
}
body{
	margin:0;
	font:600 14px/17px 'Open Sans',Arial,Helvetica,sans-serif;
	font-variant: small-caps;
	color:#000;
	background:#fff;
}
img{border-style:none;}
a{
	text-decoration:none;
	color:#000;
}
a:hover{text-decoration:underline;}
input, textarea, select{
	font:100% arial,sans-serif;
	vertical-align:middle;
}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
form, fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: '';content: none;}
table { border-collapse: collapse; border-spacing: 0; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*page*/
#page{
	width:100%;
	min-height:100%;
	overflow:hidden;
}
.page-holder{padding:0 0 480px;}
div.fix-width{
	width:960px;
	margin:0 auto;
}
div.fix-width:after{
	content: '';
	display: block;
	clear: both;
}
#footer .fix-width{
	width:680px;
	position: relative;
}
h1{
	padding:0 0 20px;
	margin:0;
	font-size:24px;
	line-height:26px;
}
h2{
	padding:0 0 23px;
	margin: 0 0 33px;
	font-size:24px;
	line-height:22px;
	text-align: center;
	background: url(../images/title-bg.gif) no-repeat 50% 100%;
}
.banner-title h2{
	font:600 60px/280px 'Open Sans',Arial,Helvetica,sans-serif;
	text-shadow: 2px 2px 5px #000;
	color:#fff;
	background: #666;
	padding: 0;
    margin: 0 0 50px;
}
h3{
	padding:0 0 12px;
	margin:0;
	font-size:24px;
	line-height:36px;
	font-variant: small-caps;
}
.home-content-holder h3{
	font-size:18px;
	border-bottom: 1px solid #E6E6E6;
	position: relative;
}
.home-content-holder h3:before{
	content:'';
	background: url(../images/title-bg.gif) no-repeat 50% 100%;
	width:35px;
	height:2px;
	position: absolute;
	bottom:0;
}
h4{
	padding:0 0 6px;
	margin:0;
	font-size:16px;
	line-height:21px;
}
h5{
	margin:0;
	font-size:14px;
	line-height:19px;
}
h6{
	margin:0;
	font-size:12px;
	line-height:17px;
}
p{
	padding:0 0 17px;
	margin:0;
}
/*header*/
#header{
	width:100%;
	padding: 14px 0 0;
    border-bottom: 1px solid #E6E6E6;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1000;
}
.home #header{
	background: rgba(0,0,0,0.7);
	border:0;
}
#header:after{
	content: '';
	display: block;
	clear: both;
}
#header .logo{
	float:left;
	width:151px;
	height:22px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo.png) no-repeat;
	margin:2px 0 0;
	padding: 0;
}
#header .logo a{
	display:block;
	height:100%;
	position:relative;
}
.header-holder{
	overflow: hidden;
	padding:0 0 19px;
}
#header .search-form{
	float:left;
	position: relative;
	margin:0 0 0 120px;
}
#header .search-form input{
	width:171px;
	height: 30px;
	box-sizing:border-box;
	border: 1px solid #D7D7D7;
	padding: 0 10px 0 30px;
	font:400 12px/30px 'Open Sans',Arial,Helvetica,sans-serif;
	text-transform: uppercase;
}
.home #header .search-form input{
	background: none;
	color:#fff;
}
#header .search-form button{
	width:12px;
	height: 12px;
	position: absolute;
	top:8px;
	left:12px;
	background: url(../images/search.png) no-repeat;
	border:0;
}
.home #header .search-form button{
	background: url(../images/search-white.png) no-repeat;
}
#header .contact-phone{
	float:left;
	background: url(../images/phone.png) no-repeat 0 50%;
	font: 600 14px/30px 'Open Sans',Arial,Helvetica,sans-serif;
	padding: 0 0 0 20px;
	margin: 0 0 0 82px;
}
.home #header .contact-phone{
	color:#fff;
	background: url(../images/phone-white.png) no-repeat 0 50%;
}
.socials-list{
	padding: 0;
	margin: 3px 0 0;
	list-style: none;
	overflow: hidden;
	float:right;
}
.socials-list li{
	float:left;
	padding: 0 0 0 19px;
}
.socials-list a{
	background: url(../images/socials.png) no-repeat 0 -1px;
	width: 21px;
	height:21px;
	display:block;
}
.home .socials-list a{
	background: url(../images/footer-socials.png) no-repeat 0 -1px;
}
.socials-list .google-plus a,
#footer .socials-list .google-plus a{
	background-position: -40px -2px;
	width: 20px;
	height: 20px;
}
.socials-list .facebook a,
#footer .socials-list .facebook a{
	background-position: -79px -1px;
}
.socials-list .vk a,
#footer .socials-list .vk a{
	background-position: -119px -1px;
    width: 21px;
    height: 22px;
}
.mobile-menu-btn{
	display: none;
}
.main-menu{
	padding: 0;
	margin: 0;
	list-style: none;
	font: 600 12px/15px 'Open Sans',Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	text-align: center;
}
.main-menu > li{
	display: inline-block;
	padding: 0 23px;
	position: relative;
	margin:0 0 21px;
}
.main-menu > li:hover{
	padding: 0 23px 21px;
	margin: 0;
}
.main-menu > li:hover .submenu{
	display: block;
}
.main-menu > li a:hover,
.main-menu > li.active > a{
	text-decoration: none;
	color:#FF9A27;
}
.home .main-menu > li > a{
	color:#fff;
}
.home .main-menu > li > a:hover{
	color:#FF9A27;
}
.main-menu .submenu{
	display: none;
	position: absolute;
	top: 22px;
	left: 0;
	text-transform: none;
	font-variant: small-caps;
	padding: 0;
    margin: 0;
    list-style: none;
    background: #FFE180;
    width:140px;
    z-index:1000;
}
.main-menu .submenu li{
	line-height:36px;
}
.main-menu .submenu li a{
    width: 100%;
    display: block;
}
.main-menu .submenu li a:hover{
	background: #fff;
	color:#000;
}
/*main*/
.home #main{
	margin:0;
}
#main{
	width:100%;
	overflow:hidden;
	color:#000;
	margin: 100px 0 0;
}
#main ul{
	padding: 0;
    list-style: none;
}
#main ul li{
	padding: 0 0 20px 24px;
	background: url(../images/list-bg.png) no-repeat 0 1px;
}
/*Breadcrumbs styles*/
#main .breadcrumbs{
	padding: 0 0 33px;
	margin: 6px 0 0;
	list-style: none;
	overflow: hidden;
	text-transform: uppercase;
}
#main .breadcrumbs li{
	float:left;
	font-size:12px;
	line-height:15px;
	background: url(../images/breadcrumb-separator.png) no-repeat 0 5px;
	padding: 0 0 0 10px;
	margin: 0 0 0 5px;
}
#main .breadcrumbs li:first-child{
	background: none;
	padding: 0;
	margin: 0;
}
#main .breadcrumbs li a{
	font-size:10px;
	line-height:15px;
	color:#666;
}
.intro-banner{
	background: url(../images/img7.jpg) no-repeat;
	height:378px;
	padding: 87px 0 0;
    box-sizing: border-box;
    margin: 0 0 44px;
}
.intro-banner h2{
	font:600 60px/60px 'Open Sans',Arial,Helvetica,sans-serif;
	text-shadow: 2px 2px 5px #000;
	color:#fff;
	text-transform: none;
	font-variant: small-caps;
	background: url(../images/like-icon.png) no-repeat 50% 100%;
	padding: 0 0 110px;
}
/*content*/
/*Ceiling section styles*/
.ceilings-section {
    overflow: hidden;
    margin: 0 -40px;
}
.ceiling-item {
    width: 50%;
    float: left;
    padding: 0 40px 33px;
    box-sizing: border-box;
    font:600 12px/16px 'Open Sans',Arial,Helvetica,sans-serif;
}
.photo-holder{
	position:relative;
	margin: 0 0 22px;
}
.photo-holder img{
	display: block;
}
.photo-holder h3{
	font: 600 18px/60px 'Open Sans',Arial,Helvetica,sans-serif;
	color:#fff;
	position: absolute;
	bottom:0;
	background: rgba(0,0,0,0.72);
	padding: 0 21px;
	width:100%;
	box-sizing:border-box;
}
/*SERVICES SECTION STYLES*/
.services-section{
	overflow: hidden;
	margin: 0 -40px;
	padding: 0 0 124px;
}
.service-item{
	width:50%;
	float:left;
	padding: 0 40px;
	box-sizing: border-box;
}
.service-item strong{
	font: 800 18px/21px 'Open Sans',Arial,Helvetica,sans-serif;
	font-variant:small-caps;
	margin: 11px 0 0;
    display: block;
}
.service-item ul{
	font-size:12px;
	text-transform: uppercase;
}
.button-holder{
	text-align: center;
	padding: 0 0 60px;
}
a.button{
	background: #FFA900;
	font: 600 18px/62px 'Open Sans',Arial,Helvetica,sans-serif;
	color:#fff;
	text-transform: uppercase;
	display: inline-block;
	padding: 0 27px;
	text-shadow:none;
}
a.button span{
	background: url(../images/button-arrow.png) no-repeat 100% 50%;
	padding: 0 18px 0 0;
}
.price-intro{
	position: relative;
	height:320px;
	background: url(../images/img3.jpg) no-repeat;
	display: table;
	padding: 0 80px;
	margin: 0 0 66px;
}
.price-intro strong{
	font: 800 24px/32px 'Open Sans',Arial,Helvetica,sans-serif;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color:#fff;
	position: relative;
	font-variant: small-caps;
	text-shadow: 2px 2px 5px #000;
}
.price-table {
    padding: 0 0 60px;
}
.price-table h3{
	font: 400 30px/35px 'Open Sans',Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding: 0 0 21px;
}
.price-table table{
	width:100%;
	border:1px solid #E9D9D9;
	font: 300 14px/17px 'Open Sans',Arial,Helvetica,sans-serif;
	font-variant: small-caps;
}
.price-table tr:nth-child(odd) {
   background-color: #FFF2F2;
}
.price-table tr:nth-child(even) {
   background-color: #fff;
}
.price-table td{
	border-right:1px solid #E9D9D9;
	border-left:1px solid #E9D9D9;
	text-align: center;
	height: 60px;
	padding: 0 20px;
}
.price-table td:first-child{
	text-align: left;
}
.price-table td.dimension{
	width:38px;
}
.price-table td.price{
	width:120px;
}
/*SERVICE HUBS STYLES*/
#main.banner-title{
	padding: 0 0 50px;
}
.service-hub{
	overflow:hidden;
}
.service-hub-description {
    float: right;
    width: 67%;
}
.service-hub .service-categories{
	float:left;
	font: 400 24px/27px 'Open Sans',Arial,Helvetica,sans-serif;
	border-right:1px solid #D0D0D0;
	padding: 0 3% 0 0px;
    width: 29%;
    box-sizing: border-box;
}
.service-hub .service-categories ul{
	margin:0;
}
#main .service-hub .service-categories li{
	padding: 0 0 20px 32px;
    background: url(../images/list-bg.png) no-repeat 0 7px;
    background-size: 19px 17px;
    font-variant: small-caps;
}
#main .service-hub .service-categories li a:hover{
	color:#FF9A27;
	text-decoration: none;
}
.service-hub-description p{
	padding: 0 0 30px;
	line-height:24px;
}
/*COOPERATION PAGE STYLES*/
.coop-info{
	font: 300 14px/17px 'Open Sans',Arial,Helvetica,sans-serif;
	font-variant: small-caps;
	padding: 0 0 41px;
}
.coop-info strong{
	font: 400 14px/17px 'Open Sans',Arial,Helvetica,sans-serif;
}
.coop-info-item{
	overflow: hidden;
}
.coop-info-item .coop-holder{
	width: 50%;
	float: left;
	box-sizing:border-box;
	padding: 0 20px 0 0;
	margin: 31px 0 0;
}
.coop-info-item:nth-child(even) .coop-holder{
	float: right;
	padding: 0 0 0 20px;
}
.coop-info-item img{
	float:right;
}
.coop-info-item:nth-child(even) img{
	float:left;
}
.coop-info-item.full-width {
    margin: 72px 0 0;
}
/*FEATURES SECTION STYLES*/
.features-section{
	overflow: hidden;
	text-align: center;
	padding: 0 0 45px;
	margin: 21px -25px 0;
}
.feature-item{
	width:25%;
	float:left;
	padding: 178px 25px 0;
	box-sizing:border-box;
	background: url(../images/feat-icon1.png) no-repeat 50% 0;
}
.feature-item.item2{
	background: url(../images/feat-icon2.png) no-repeat 50% 0;
}
.feature-item.item3{
	background: url(../images/feat-icon3.png) no-repeat 50% 0;
}
.feature-item.item4{
	background: url(../images/feat-icon4.png) no-repeat 50% 0;
}

.feature-item h3{
	font-weight: 400;
	line-height: 30px;
	height: 60px;
	color:#ff9933;
}
/*GALLERY SLIDER STYLES*/
.projects-gallery {
    padding: 0 0 83px;
}
#main .projects-gallery ul li{
	padding: 0;
	background: none;
}
.home .projects-gallery{
	padding: 0;
	background: url(../images/img9.jpg) no-repeat;
	background-size: cover;
	padding: 33px 0 60px;
	color:#fff;
}
.categories-list{
	font: 800 12px/15px 'Open Sans',Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	position: relative;
	margin: 0 20px 24px;
}
.categories-list .slides{
	padding: 0;
	overflow: hidden;
}
.categories-list li{
	text-align: center;
}
.home .categories-list li a{
	color:#fff;
}
.categories-list li a:hover,
.categories-list li.flex-active-slide a{
	color:#FF9A27;
	text-decoration: none;
}
.flex-direction-nav,
.projects-list ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.flex-direction-nav a{
	width:12px;
	height:22px;
	text-indent: -9999px;
	position: absolute;
	top:8px;
}
.flex-prev{
	background: url(../images/slider-nav-arrows.png) no-repeat;
	left:0;
}
.home .flex-prev{
	background: url(../images/slider-nav-arrows-white.png) no-repeat;
}
.flex-next{
	background: url(../images/slider-nav-arrows.png) no-repeat 100% 0;
	right:0;
}
.home .flex-next{
	background: url(../images/slider-nav-arrows-white.png) no-repeat 100% 0;
}
.project-item{
	float:left;
	position: relative;
}
.project-item img{
	display: block;
}
.hover-overlay {
	display: none;
    position: absolute;
    background: url(../images/overlay-pattern.png) repeat;
    width: 100%;
    height: 100%;
    top: 0;
}
.hover-overlay span{
	background: rgba(0,0,0,0.5);
	width:100%;
	position: absolute;
    bottom: 0;
    color:#fff;
    line-height: 48px;
    font-size:10px;
    text-transform: uppercase;
    padding: 0 22px;
    box-sizing:border-box;
}
.project-item:hover .hover-overlay{
	display: block;
}
/*HOMEPAGE STYLES*/
.home .bx-wrapper .bx-viewport{
	left:0;
	border:0;
}
.bx-wrapper .bx-controls-direction a{
	position:absolute;
	top:280px;
	left:0;
	width:78px;
	height:120px;
	background: url(../images/homeslider-nav.png) no-repeat;
	text-indent:-9999px;
}
.bx-wrapper .bx-controls-direction .bx-next{
	background-position: 100% 0;
	right:0;
	left:auto;
}
.homeslider-item{
	background: url(../images/homepage-slide.jpg) no-repeat;
	height: 723px;
    background-size: cover;
    font: 400 18px/27px 'Open Sans',Arial,Helvetica,sans-serif;
    font-variant: small-caps;
    color:#fff;
	text-shadow: 2px 2px 5px #000;
	display: table;
	width:100%;
	padding: 99px 0 0;
}
.homeslider-item p{
	padding: 0 0 29px;
}
.homeslider-item-holder {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.homeslider-item h1{
	font: 800 58px/61px 'Open Sans',Arial,Helvetica,sans-serif;
	font-variant: small-caps;
}
.slide-overlay{
	width:100%;
	height:100%;
	position: absolute;
	background: url(../images/overlay-pattern.png) repeat;
}
.homepage-info-section{
	background: url(../images/img8.jpg) repeat;
	color:#fff;
	padding: 19px 0;
	overflow: hidden;
	margin: 0 0 80px;
}
.homepage-info-section .fix-width{
	display: table;
}
.homepage-info-section span{
	font: 600 18px/21px 'Open Sans',Arial,Helvetica,sans-serif;
	font-variant: small-caps;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	display: table-cell;
    vertical-align: middle;
}
.homepage-info-section a{
	color:#fff;
	font: 14px/21px 'Open Sans',Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	border:2px solid #fff;
	padding: 7px 20px 7px 20px;
	float: right;
}
/*HOMEPAGE CONTENT SECTION STYLES*/
.homepage-content {
    margin: 122px 0 0;
}
.homepage-content h2{
	margin:0 0 57px;
}
.home-content-holder {
    padding: 0 0 25px;
}
.home-content-details {
    width: 45%;
    float: left;
    padding: 0 5% 0 0;
}
.home-content-details.odd{
	 float: right;
    padding: 0 0 0 5%;
}
.home-content-holder.full-width h3{
	margin: 0 0 20px;
}
/*SERVICE CATEGORY PAGE STYLES*/
.service-category-items{
	margin: 0 -20px 0 0;
	overflow: hidden;
	float:left;
	box-sizing:border-box;
	width: 71%;
    padding: 0 0 0 20px;
}
.service-category-items a{
	float:left;
	margin: 0 20px 20px 0;
	position: relative;
}
.service-category-items a:hover:before{
	content:'';
	position: absolute;
	bottom: 0;
	width:100%;
	height: 40px;
	background: rgba(0,0,0,0.5) url(../images/search-white.png) no-repeat 93% 50%;
}
.service-category-items img{
	display: block;
}
.fancybox-lock{
	overflow: visible !important;
}
.fancybox-skin{
	border:2px solid #f58d00;
}
.fancybox-nav span{
    width: 78px;
    height: 120px;
    background: url(../images/homeslider-nav.png) no-repeat;
    top: 43%;
}
.fancybox-next span{
	 background: url(../images/homeslider-nav.png) no-repeat 100% 0;
}
/*POSTS PAGE STYLES*/
.posts-holder{
    overflow: hidden;
    margin: 0 -3.5%;
}
.post-item{
    float: left;
    width: 43%;
    padding: 0 3.5% 78px;
}
.post-item img{
	padding: 0 0 13px;
}
.post-item h3{
	font-size: 19px;
    line-height: 22px;
    border-bottom:1px solid #000;
    margin: 0 0 17px;
    padding: 0 0 8px;
}
.post-item a{
	font-size:14px;
	color:#f58d00;
	text-transform: uppercase;
	border:1px solid #f58d00;
	padding: 0 22px;
	line-height: 58px;
	display: inline-block;
}
.single-post #main{
	padding: 0 0 47px;
}
.single-post h2{
	font-size:30px;
	background: none;
	text-align: left;
	border-bottom: 1px solid #000;
	padding: 0 0 12px;
    margin: 0 0 18px;
}
.single-post #main img{
	padding: 0 0 14px;
}
.single-post #main p{
	padding: 0;
	line-height: 26px;
}
/*CONTACT PAGE STYLES*/
.contact-holder .logo{
    width: 151px;
    height: 22px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/logo.png) no-repeat;
    margin: 0;
    padding: 0;
}
.contact-holder{
	overflow:hidden;
}
.contact-holder .contact-info{
	float:left;
	width:50%;
}
.contact-holder .contact-details{
	float:right;
	width:50%;
}
.contact-holder ul{
	font: 600 18px/21px 'Open Sans',Arial,Helvetica,sans-serif;
	font-variant: small-caps;
}
#main .contact-holder ul li{
	background: url(../images/icon-home.png) no-repeat;
	padding: 0 0 20px 31px;
}
#main .contact-holder ul li.phone{
	background: url(../images/icon-phone.png) no-repeat;
}
#main .contact-holder ul li.email{
	background: url(../images/icon-email.png) no-repeat;
}
.contact-holder .show-section{
	display: none;
}
.contact-holder .contact-form .show-section{
	width:300px;
	float:right;
}
.contact-holder .contact-map .show-section{
	width:100%;
	float:right;
}
.contact-details .contact-form,
.contact-details .contact-map{
	overflow:hidden;
}
.contact-details button{
	float:right;
	width:300px;
	height:60px;
	background: none;
	border:1px solid #FF9A27;
	font: 600 18px/21px 'Open Sans',Arial,Helvetica,sans-serif;
	font-variant: small-caps;
	margin: 0 0 20px;
}
.contact-details button:hover{
	cursor:pointer;
}
.contact-details button span{
	background: url(../images/btn-arrow.png) no-repeat 100% 10px;
    padding: 0 25px 0 0;
}
.contact-form input{
	width:100%;
	height:60px;
	padding: 0 20px;
	border:1px solid #B3B3B3;
	box-sizing:border-box;
	font: 300 14px/21px 'Open Sans',Arial,Helvetica,sans-serif;
	font-variant: small-caps;
	margin: 0 0 20px;
}
.contact-form textarea{
	height:200px;
	min-height:200px;
	max-height:200px;
	padding: 20px;
	border:1px solid #B3B3B3;
	box-sizing:border-box;
	font: 300 14px/21px 'Open Sans',Arial,Helvetica,sans-serif;
	font-variant: small-caps;
	margin: 0 0 20px;
	max-width: 100%;
	min-width:100%;
}
.contact-form form button{
	background: #B3B3B3;
	border:0;
	text-transform: uppercase;
	color:#fff;
	font-weight: 400;
}
/*footer*/
#footer{
	width:100%;
	height:480px;
	margin:-480px 0 0;
	position:relative;
	z-index:2;
	background: url(../images/footer-bg.jpg) no-repeat;
	background-size:cover;
	text-align: center;
	box-sizing: border-box;
    padding: 36px 0 0;
    color:#fff;
}
.overlay{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.50);
}
#footer .logo{
	width:151px;
	height:22px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo.png) no-repeat;
	display: inline-block;
	padding: 0 0 17px;
}
#footer .logo a{
	display:block;
	height:100%;
	position:relative;
}
.footer-holder{
	border-top:1px solid rgba(255,255,255, 0.20);
	border-bottom:1px solid rgba(255,255,255, 0.20);
	overflow:hidden;
	padding: 38px 0 36px;
}
.footer-holder h3{
	font: 600 18px/21px 'Open Sans',Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	opacity: 0.37;
	padding: 0 0 3px;
}
.footer-menu{
	float:left;
	text-transform: uppercase;
	width:50%;
}
.footer-menu ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer-menu ul li{
	margin: 23px 0 0;
}
.footer-menu ul a{
	color:#fff;
}
.footer-contacts{
	float:left;
	width:50%;
}
.footer-contacts h3{
	padding: 0 0 21px;
}
.address-section {
    line-height: 25px;
    padding: 0 0 22px;
}
span.contact-phone {
    display: block;
    padding: 0 0 26px 26px;
    background: url(../images/phone-white.png) no-repeat 0 1px;
    display: inline-block;
}
.contact-email{
	text-transform: uppercase;
	color:#fff;
	display: table;
    margin: 0 auto;
    background: url(../images/email.png) no-repeat 0 1px;
    padding: 0 0 0 25px;
}
#footer .socials-list{
	float:none;
	margin: 18px 0 0;
	padding: 0 0 19px;
}
#footer .socials-list li{
	display: inline-block;
	float: none;
    padding: 0 10px;
}
#footer .socials-list a{
	background: url(../images/footer-socials.png) no-repeat 0 -1px;
}
#footer .copy{
	font-size:10px;
}
/*MEDIA QUERIES*/
@media only screen and (max-width : 1024px){
	.homeslider-item-holder div.fix-width{
		width:100%;
	}
	.homeslider-item-holder{
		padding: 0 12%;
	}
}
@media only screen and (max-width : 960px){
	div.fix-width,
	#footer .fix-width{
		width:100%;
	}
	.header-holder{
		padding-right: 20px;
		padding-left: 20px; 
	}
	#header .contact-phone{
		margin: 0 0 0 40px;
	}
	#header .search-form{
		margin: 0 0 0 50px;
	}
	.main-menu > li,
	.main-menu > li:hover{
		padding-right: 13px;
		padding-left: 13px; 
	}
	#main .breadcrumbs,
	.coop-info,
	.contact-holder,
	.single-post-content,
	.price-table,
	.content,
	.features-section,
	.ceiling-item,
	.service-item,
	.post-item,
	.service-hub,
	.homepage-info-section,
	.homepage-content{
		box-sizing:border-box;
		padding-right: 20px;
		padding-left: 20px; 
	}
	.projects-gallery,
	.home .projects-list{
		padding-right: 24px;
		padding-left: 24px; 
	}
	
	.features-section{
		margin-right: 0;
		margin-left: 0;
	}
	.ceilings-section,
	.services-section,
	.posts-holder{
		margin:0;
	}
	.coop-info-item img,
	.home-content-holder img{
		max-width: 50%;
	}
	.post-item img,
	.single-post #main img,
	.photo-holder img,
	.service-item img{
		max-width:100%;
	}
	.services-section{
		padding: 0 0 30px;
	}
	.post-item{
		width:50%;
	}
}
@media only screen and (max-width : 640px){
	#header{
		padding:14px 0 20px;
	}
	#main{
		margin: 122px 0 0;
		padding: 30px 0 0 !important;
	}
	.home #main {
	    padding: 0 !important;
	}
	.intro-banner{
		background: none;
		height:auto;
		padding:0;
		margin:0;
	}
	.intro-banner h2,
	.banner-title h2{
		padding: 0 0 23px;
	    margin: 0 0 33px;
	    font-size: 24px;
	    line-height: 22px;
	    text-align: center;
	    background: url(../images/title-bg.gif) no-repeat 50% 100% !important;
	    background-size: initial;
	    font-variant: small-caps;
	    color: #000;
	    font-weight:800;
	    text-shadow:none;
	}
	.photo-holder h3{
		position: static;
		color:#000;
		padding: 0;
		background: none;
		line-height: 50px;
	}
	.photo-holder{
		margin:0;
	}
	.homeslider-item{
		padding: 121px 0 0;
	}
	.search-form,
	#header .contact-phone,
	.breadcrumbs,
	.price-intro{
		display: none;
	}
	.socials-list li {
	    float: left;
	    padding: 0 0 0 5px;
	}
	.mobile-menu-btn{
		display: block;
		background: none;
    	border: 1px solid #FF9A27;
    	font: 600 18px/21px 'Open Sans',Arial,Helvetica,sans-serif;
		font-variant: small-caps;
		padding:10px;
		width:50%;
		margin:0 auto;
	}
	.home .mobile-menu-btn{
		color:#FF9A27;
	}
	.main-menu{
		display: none;
	    width: 100%;
	    margin: 20px 0 0;
	    border-top: 1px solid #E6E6E6;
	}
	.main-menu > li{
		display: block;
		margin:21px 0 0;
	}
	.main-menu > li:hover{
		margin:21px 0 0;
		padding:0;
	}
	.main-menu .submenu{
		position: static;
		display: block;
		width:100%;
		margin: 10px 0 0;
	}
	.main-menu .submenu li a:hover{
		background: none;
		color:#FF9A27;
	}
	.page-holder{
		padding-bottom: 165px;
	}
	.contact-holder .contact-info,
	.contact-holder .contact-details,
	.contact-holder .contact-form .show-section,
	.coop-info-item .coop-holder,
	.post-item,
	.feature-item,
	.ceiling-item,
	.service-item,
	.service-hub-description,
	.service-category-items,
	.home-content-details{
		width:100%;
		float:none;
	}
	.service-hub .service-categories{
		width:100%;
		float: none;
		font: 600 14px/17px 'Open Sans',Arial,Helvetica,sans-serif;
		border:none;
	}
	.service-category-items{
		padding:0;
		margin:0;
	}
	.service-category-items a{
		display: block;
		width:100%;
		margin:0 0 20px;
	}
	.service-category-items img {
	    display: block;
	    width: 100%;
	}
	.coop-info-item .coop-holder{
		padding:0 !important;
	}
	.contact-details button,
	.contact-form input,
	.contact-form textarea{
		width:100%;
	}
	.coop-info-item img,
	.home-content-holder img{
		max-width: 100%;
	}
	.project-item,
	.project-item img{
		width:100%;
	}
	.homepage-info-section .fix-width,
	.homepage-info-section span{
		display: block;
	}
	.homepage-info-section a{
		display: block;
		float:none;
		margin:15px 0 0;
		text-align: center;
	}
	.bx-controls-direction{
		display:none;
	}
	.homeslider-item h1 {
		font: 800 23px/26px 'Open Sans',Arial,Helvetica,sans-serif;
	}
	.homeslider-item{
		height:432px;
	}
	#footer{
		padding: 20px 0 0;
		height: 165px;
		margin: -165px 0 0;
	}
	.footer-holder{
		display: none;
	}
}